<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>

    <div class="logo">
      <img src="../images/deckboss_logo.png" style="height: 250px; width: 375px;">
    </div>
    
    <p>Welcome to <%= title %> <%= name %></p>
    <br>
    <br>

    <!-- Navigation with sessions-->
    <ul class="nav nav-pills nav-justified">
      <li class="nav-item">
        <a class="nav-link active" href="/">Home</a>
      </li>
  
      <% if (!name) { %>
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/signup">Signup</a>
        </li>
      <% } else { %>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/profile">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/profile-form">Update Profile</a>
        </li>
      <% } %>
      <li class="nav-item">
        <a class="nav-link" href="/card-info">Card Pricing Info</a>
      </li>
    </ul>

    <div class="container">
      <h2>Popular Cards</h2>  
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
    
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
            <a href="https://www.pokemon.com/us/pokedex/charmander"> <!--Temp link to external site-->
            <img src="https://images.pokemontcg.io/base1/46_hires.png" alt="Charmander" style="width:50%;">
          </div>
    
          <div class="item">
            <a href="https://www.pokemon.com/us/pokedex/bulbasaur"> <!--Temp link to external site-->
            <img src="https://i.pinimg.com/736x/1f/4b/ba/1f4bba289b28d7762430db40e7e40c6e--poke-mon-pokemon-cards.jpg" alt="Bulbasaur" style="width:50%;">
          </div>
        
          <div class="item">
            <a href="https://www.pokemon.com/us/pokedex/squirtle"> <!--Temp link to external site-->
            <img src="https://images.pokemontcg.io/base6/95_hires.png" alt="Squirtle" style="width:50%;">
          </div>
        </div>
    
        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    
    </body>
    </html>
    
  </body>
  
</html>
