<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="stylesheets/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <title>Profile Form</title>
</head>

<body>
  <h1>Profile Information</h1>

  <!-- Navigation with sessions-->
  <ul class="nav nav-pills nav-justified">
    <li class="nav-item">
      <a class="nav-link active" href="/">Home</a>
    </li>


    <% if (!name) { %>
      <li class="nav-item">
        <a class="nav-link" href="/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/signup">Signup</a>
      </li>
      <% } else { %>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
        <% } %>
          <li class="nav-item">
            <a class="nav-link" href="/card-info">Card Pricing Info</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/profile-form">Profile</a>
          </li>
  </ul>

  <h2>Welcome <%= name %> a confirmation email has been sent to <%= email %>
  </h2> <br>
  <h2>Create your profile</h2>

  <div class="selectedProfilePic">
    <image name="profilePicSelector" id="profilePicSelector" src=""></image>
    <div class="profile-picture">
      <select onChange="changeImage(this.options[this.selectedIndex].value)">
          <option value="charm_pfp.png">Charmander</option>
          <option value="bulba_pfp.png">Bulbasaur</option>
          <option value="squirtle_pfp.png">Squirtle</option>
          <option value="pika_pfp.png">Pikachu</option>
      </select>
    </div>
  </div>

  <!-- Ideas for profile info:
    -About me(bio)
    -Comment Section
    -"Wish List" (cards wanted)
    -Interests
    -Contact info(email, buisness info, (optional))
    -A section to upload images such as fan art
    -Ability to change password
    -->
    
  <div class="profile-form-div">
    <form>
      <label for="nickname">Nickname</label><br>
      <input type="text" id="nickName" name="nickName"><br>
      <label for="contact">Contact</label><br>
      <input type="text" id="contact" name="contact"><br>
      <label for="aboutMe">About Me</label><br>
      <textarea id="bioProfile" name="bioProfile"></textarea><br>
      <label for="otherMedia">Other Social Media</label><br>
      <textarea id="otherSocialMedia" name="otherSocialMedia"></textarea><br>

      <!--Select favoite pokemon types-->
      <label for="favPokemonTypes">Favorite Pokemon Types</label><br>
      <div class="favPokemonRadio">
        <input type="radio" id="normalTag"></input>
        <label for="normal">Normal</label><br>
        <input type="radio" id="fireTag"></input>
        <label for="normal">Fire</label><br>
        <input type="radio" id="waterTag"></input>
        <label for="normal">Water</label><br>
        <input type="radio" id="grassTag"></input>
        <label for="normal">Grass</label><br>
        <input type="radio" id="electircTag"></input>
        <label for="normal">Electirc</label><br>
        <input type="radio" id="iceTag"></input>
        <label for="normal">Ice</label><br>
        <input type="radio" id="fightingTag"></input>
        <label for="normal">Fighting</label><br>
        <input type="radio" id="poisonTag"></input>
        <label for="normal">Poison</label><br>
        <input type="radio" id="groundTag"></input>
        <label for="normal">Ground</label><br>
      </div>
    </form>
    <button type="submit">Submit</button>    
  </div>

</body>
<script>
  //Choose a profile picture from a selection of presets
  function changeImage(img) {
    var imgDiv = document.getElementById("profilePicSelector");

    imgDiv.src = '../images/basic_pfps/' + img;
  }

</script>
<script src="profile-form.js"></script>

</html>