<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="stylesheets/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <title>Profile Form</title>
</head>

<body>
  <h1>Profile Information</h1>

  <!-- Navigation with sessions-->
  <ul class="nav nav-pills nav-justified">
    <li class="nav-item">
      <a class="nav-link active" href="/">Home</a>
    </li>


    <% if (!name) { %>
      <li class="nav-item"> 
        <a class="nav-link" href="/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/signup">Signup</a>
      </li>
      <% } else { %>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/profile">Profile</a>
        </li>
        <% } %>
          <li class="nav-item">
            <a class="nav-link" href="/card-info">Card Pricing Info</a>
          </li>      
  </ul>

  
  <% if(!message) { %> 
    <h2>Update your profile</h2>
  <% } else { %>
    <h2><%= message %></h2>
  <% } %>

  <!-- Ideas for profile info:
    -About me(bio)
    -Comment Section
    -"Wish List" (cards wanted)
    -Interests
    -Contact info(email, buisness info, (optional))
    -A section to upload images such as fan art
    -Ability to change password
    -->
    
  <div class="profile-form-div">
    <form action="/profile-form" method="post">
      <!--Profile Pic Selection-->
      <div class="selectedProfilePic">
        <image name="profilePicSelector" id="profilePicSelector" src="../images/basic_pfps/charm_pfp.png"></image>
        <div class="profile-picture">
          <select name="pfpSelect" onChange="changeImage(this.options[this.selectedIndex].value)">
              <option value="charm_pfp.png" default>Charmander</option>
              <option value="bulba_pfp.png">Bulbasaur</option>
              <option value="squirtle_pfp.png">Squirtle</option>
              <option value="pika_pfp.png">Pikachu</option>
          </select>
        </div>
      </div>

      <label for="nickname">Nickname</label><br>
      <input type="text" id="nickName" name="nickName"><br>
      <label for="aboutMe">About Me</label><br>
      <textarea id="bioProfile" name="bioProfile"></textarea><br>
      <label for="otherMedia">Other Social Media</label><br>
      <textarea id="otherSocialMedia" name="otherSocialMedia"></textarea><br>

      <!--Select favoite pokemon types-->
      <label for="favPokemonTypes">Favorite Pokemon Types</label><br>
      <div class="favPokemonRadio">
        <input type="radio" id="normalTag" name="pokemonTag" value="normal"></input>
        <label for="normal">Normal</label><br>
        <input type="radio" id="fireTag" name="pokemonTag" value="fire"></input>
        <label for="normal">Fire</label><br>
        <input type="radio" id="waterTag" name="pokemonTag" value="water"></input>
        <label for="normal">Water</label><br>
        <input type="radio" id="grassTag" name="pokemonTag" value="grass"></input>
        <label for="normal">Grass</label><br>
        <input type="radio" id="electircTag" name="pokemonTag" value="electric"></input>
        <label for="normal">Electirc</label><br>
        <input type="radio" id="iceTag" name="pokemonTag" value="ice"></input>
        <label for="normal">Ice</label><br>
        <input type="radio" id="fightingTag" name="pokemonTag" value="fighting"></input>
        <label for="normal">Fighting</label><br>
        <input type="radio" id="poisonTag" name="pokemonTag" value="poison"></input>
        <label for="normal">Poison</label><br>
        <input type="radio" id="groundTag" name="pokemonTag" value="ground"></input>
        <label for="normal">Ground</label><br>  
      </div>
      <button type="submit">Submit</button>  
    </form>
    
  </div>

</body>
<script>
  //Choose a profile picture from a selection of presets
  function changeImage(img) {
    var imgDiv = document.getElementById("profilePicSelector");

    imgDiv.src = '../images/basic_pfps/' + img;
  }

</script>
</html>