<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Signup for Deckboss!</title>
</head>
<body>
  <h1>Signup for Deckboss!</h1>
  <form action="/signup" method="post">
    <input type="text" name="username" placeholder="Username"><br><br>
    <input type="email" name="email" placeholder="Email"><br><br>
    <input type="password" name="password" placeholder="Password"><br><br>
    <input type="password" name="password_confirmation" placeholder="Confirm Password"><br><br>
    <button type="submit" value="Signup">Signup</button>
  </form>

  <p>
    <%= error %>
  </p>
  
</body>
</html>