body {
  background-color: #28383c;
  color: white;
  background-image: url("../images/v3_background.png");
  background-attachment: fixed;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
  align-items: center;
  text-align: center; 
  color: white;
}

h2 {
  text-align: center;
  color: white;
  padding-bottom: 10px;
  padding-top: 10px;
}

p {
  text-align: center;
  color: white;
}

button {
  background-color: whitesmoke;
  color: black;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

input {
  color: black;
}

.logo {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  height: fit-content;
}

.banner {
  position: relative;
  margin-left: auto;
  width: 100%;
  height: 10px;
}

.banner img {
  position: flex;
  width: 100%;
  height: 230px;
}

/*Navigation Bar*/

.nav-item {
  background-color: #1e3e46;
  width: auto;
  height: auto;
}

.nav-link {
  font-weight: bold;
  color: white;
  
}

/*Navigation Bar End */


/* Carousel */

.container {
  position: relative;
  display: flex;
  margin-top: .5%;
  background-color: #1e3e46;
  padding: 50px;
  border-radius: 50px; 
  justify-content: center;
  width: auto;
}

.carousel-inner {
  max-width: 100% !important;  
}

.carousel-inner img{
  margin: auto;
  display: flex;
  vertical-align: middle;
}

.item {
  background-color: #28383c;
  background-size: contain;
}

.carousel-title {
  position: relative;
  margin: auto;
  margin-top: 5%;
  width: fit-content;
}

.carousel-title h2 {
  background-color: #1e3e46;
  margin-top: 10px;
  border-radius: 10px;
  text-align: center;
  width: 300px;
}

/* End Carousel */

/* Login Styles */

.login-form {
  position: relative;
  top:50%;
  margin: 0 auto;
  border-radius: 10px;
  text-align: center;
  width: 250px;
  height: 175px;
  padding: 20px;
  background-color: #1e3e46;
}

.login-form button {
  margin-top: 10px;
}

/* End Login Styles */

/* Signup Styles */

.signup-form {
  position: relative;
  top:50%;
  margin: 0 auto;
  border-radius: 10px;
  text-align: center;
  width: 250px;
  height: 250px;
  padding: 20px;
  background-color: #1e3e46;
}

/* End Signup Styles */

/* Profile Form Styles */

.selectedProfilePic {
  position: relative;
  text-align: center;
  display: block;
  padding: 30px;  
}

.profilePicSelector {
  display: block;
  justify-content: center;  
  height: 150px;
  width: 150px; 
}

.profile-picture {
  color: black;
  text-align: center;
}


.imageProfile {
  display: none;
}

.profile-form-div {
  text-align: center;
}

.profile-form-div img {
  border: 10px solid #fff;
}

textarea {
  resize: none;
  color: black;
}

option {
  color: black;
}

/* End Profile Form Styles */

/* Profile Styles */

.profile-body {
  background-color: #517179;
  position: relative;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 20px;
  width: auto;
  max-width: 800px;
}
.picForProfile {
  text-align: center;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: fit-content;
  border: 10px solid #1e3e46;
}

.nickName {
  background-color: #1e3e46;
  height: fit-content;
  width: 50%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 7px;
  border-radius: 10px; 
  box-sizing: border-box;
}

.aboutMe {
  background-color: #1e3e46;
  height: fit-content;
  width: 50%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 7px;
  border-radius: 10px;
}

.otherSocialMedia {
  background-color: #1e3e46;
  height: fit-content;
  width: 50%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 7px;
  border-radius: 10px;
}

.favoriteTags {
  background-color: #1e3e46;
  height: fit-content;
  width: 50%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 7px;
  border-radius: 10px;
}
.card-collection button {
  background-color: whitesmoke;
  color: black;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  margin-bottom: 5px;
  margin-top: 10px;
  cursor: pointer;
}

/* End Profile Styles */

/* Search Style */

.search-box {
  background: #1e3e46;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border-radius: 10px;
  padding: 20px;
  padding-bottom: 55px;
  width: 600px;
}

/* Search Style End*/


/* Search Results Styles */

.results-txt {
  background: #517179;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  position: relative;
}

.results-txt h1 {
  background: #1e3e46;
  padding: 10px;
  margin-bottom: 0px;
}

.results-txt h2 {
  background: #1e3e46;
  padding: 10px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.results-txt p {
  background: #1e3e46;
  margin-bottom: 0px;
  padding: 10px;
}

.results-txt img {
  border: 10px solid #1e3e46;
  margin-top: 25px;
}

.results-links {
  background: #1e3e46;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  padding-bottom: 0%;
  border-radius: 10px;
  width: fit-content;
}

/* Search Results Styles End */

/* Card Collection Styles */ 

.card-collection {
  background:  #517179;
  position: absolute;
  margin: auto;
  right: 0;
  left: 0;
  border-radius: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
  padding-top: 10px;
  width: 410px;
  text-align: center;
}

.card-collection img {
  background-color: #1e3e46;
  border: 10px solid #1e3e46;
  margin-bottom: 10px;
  text-align: center;
}

.card-collection p {
  background: #1e3e46;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  width: 250px;
}

.card-collection button {
  border-radius: 10px;
}

/* Card Collection Styles End */ 

/* Admin Styles */

.user-stats h2 {
  margin-top: 40px;
  align-items: left;
  text-align: left;
  width: fit-content;
  height: fit-content;
}

.delete-user {
  background: #1e3e46;
  display: grid;
  width: 300px;
  margin-bottom: 20px;
}

.delete-user input {
  text-align: center;
}

.delete-user label {
  text-align: center;
}

.ban-user {
  background: #1e3e46;
  display: grid;
  width: 300px;
}

.ban-user input {
  text-align: center;
}

.ban-user label {
  text-align: center;
}

/* End Admin Styles */

/* Dev/FAQ Styles */

.faq {
  background: #1e3e46;
  margin-top: 20px;
  padding-top: 20px;
}

.faq h3 {
  margin-left: 10px;
}

.faq img {
  border: 5px solid #517179;
  margin-left: 37px;
  height: 100px;
  width: 100px;
}

.faq p {
  text-align: left;
  padding: 10px;
  margin-left: 25px;
  width: 500px;
}

/* End Dev/FAQ Styles */

@media screen and (max-width: 800px) {

  body {
    height: auto;
    
  }
  ul {
    display: inline;
    margin: 0;
    padding: 0;
    width: 100%;

  }
  ul > li {
    display: inline-block;
    background-color: #1e3e46;
    width: fit-content;
    height: auto;
  }
  .nav-item {
    background-color: #1e3e46;
    font-size: larger;
    margin: 10px;
    padding: 10px;
    width: fit-content;
    padding: 25px;
    display: table;
    border-radius: 50%;
  }
  .faq p {
    text-align: center;
    width: auto;
  }
  .profile-body {
    width: auto;
  }


}