body {
  background-color: #010311;
  background-image: url("../images/website_background_darkBlu.png");
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
  align-items: center;
  text-align: center; 
  color: white;
}

h2 {
  text-align: center;
  color: white;
  padding-bottom: 50px;
}

p {
  text-align: center;
  color: white;
}

/*Navigation Bar*/

.nav-item {
  background-color: rgb(2, 10, 56);
}

.nav-link {
  font-weight: bold;
  color: white;
}

/*Navigation Bar End */


/* Carousel */
.container {
  margin-top: 20px;
  background-color: rgb(2, 10, 56);
  padding: 50px;
  border-radius: 50px;
}

.carousel-inner img{
  margin: auto;
}

.charmander-img {
  width: 100px;
  height: 200px;
}

/* End Carousel */

/* Login Styles */

.login-form {
  position: relative;
  top:50%;
  left: 43%;
  text-align: center;
  width: 250px;
  height: 175px;
  padding: 20px;
  background-color: rgb(2, 10, 56);
}

/* End Login Styles */

/* Signup Styles */

.signup-form {
  position: relative;
  top:50%;
  left: 43%;
  text-align: center;
  width: 250px;
  height: 250px;
  padding: 20px;
  background-color: rgb(2, 10, 56);
}

/* End Signup Styles */